*{
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    font-weight: 500;
    font-family: 'Product Sans' , sans-serif;
}
h3,h4,h5, button{
    font-weight: 500;
    font-family: 'Roboto';
}
b,strong{
    font-weight: 500;
}
.subttitle{
    font-family: 'Montserrat';
    letter-spacing: -1px;   
}
.color-subtitle{
    color : #6b6b6b;
}

b,p,span,td,a, input{
    font-size: .95rem;
}
body{
    background: #f1f2f3;
}
.blanco{
    color : #fff;
}
.big-size{
    font-size: 50px;
    font-weight: 400;
}

.master_full{
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 1900px;
    margin: 0 auto;
}
.master_full_top{
    width: 100%;
    overflow: hidden;
    max-width: 1900px;
    margin: 0 auto;
}
.absolute{
    position: absolute;
    height: 100%;    
    z-index: 0;
}
.absolute-center{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.absolute-w{
    position: absolute;
    width: 100%;
    z-index: 0;
}
.relative{
    position : relative;
}
.absolute-height{
    position: absolute;
    height: 100%;
    z-index: 0;

}
.master_max{
    width: 1150px;
    margin: 0 auto;
    z-index: 1;
}
/*.header > div{
    width: 43%;
}
.header > nav{
    width: 57%;
}*/
.hamburger{
    display:none;
    margin-bottom: 10px;
    padding: 10px;
    color: #111;
    cursor: pointer;
}

.main-menu__item{
    display: block;
    padding: 15px 5px 23px 5px;
    font-weight: 500;
    color: #444;
    font-size: .9rem;
    margin: 0 4px;
    position: relative;
}
.main-menu__item:hover:before,.main-menu__active:before{
    content: '';
    height: 3px;
    background: #b25194;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.bg-purple{
    background : #322052;
}
.bg-purple_gd{
    background: #9a3b8c;
    background: -webkit-linear-gradient(to right, #51139f, #772996, #9a3b8c);
    background: linear-gradient(to right, #51139f, #772996, #9a3b8c); 
}
.main-menu__active{
    color: #b25194;
    /* border-bottom: 3px solid #b25194;*/
}
.main-menu .main-menu__item:hover{
    text-decoration: none;
    /* border-bottom: 3px solid #b25194;*/
    color: #b25194;        
}
.btn-demo{
    border: 1px solid #b25194;
    color: #444;
    font-weight: 500;
    padding: 3px 30px;
    border-radius: 10px;
    transform: translateY(-6px);
    font-size: .9rem;
    transtion: 1s;
}
.btn-demo:hover{
    background :#b25194;
    color: #fff;

}
.banner-container{

}
.text-float-banner{

}
.padding-space{
    padding: 70px 0;
}
.padding-space-50{
    padding: 50px 0;
}
.line-purple{
    height: 2px;
    background:  #b25194;
    margin: 0 auto;
    width: 50px;
}
.white{
    color: #cac6d2;
}
.letter{
    color: #777777;
}
.link-footer{
    color: #cac6d2;            
}
.link-footer:hover{
    color:  #b25194;
}
.enlaces-foot span{
    padding:0 10px;
}
.footer{
    padding: 15px 0 0 0;
}
.icon-footer{
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    background: #ac428b;
    color: #fff;
    cursor:pointer;
}
.icon-footer + .icon-footer {
    margin-left: 5px;
}
.icon-footer i {
    font-size: 18px;
    line-height: 2.5rem;
}
.icon-footer:hover {
    background :#fff;
    color: #ac428b;
}
.form-control-footer{
    border: 0;
    border-bottom: 2px solid #dadada;
    border-radius: 0;
    color: #fff;
    background: transparent;
}
.form-control-footer:focus{
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #fff;
    border-color: #92b363;

}
.btn-rewrite{
    background: #5c41bb;
    font-size: 1rem;
    border-color: #5c41bb;
    padding: 5px 20px;
    border-radius: 40px;
    box-shadow: 1px 1px 2px #3a3a3a;
}
.footer-banner{
    color: #fafafa;
    background: #9a3b8c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #51139f, #772996, #9a3b8c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #51139f, #772996, #9a3b8c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-contact{
    color: #fafafa;
    border-color:#9a3b8c;  /* fallback for old browsers */ 
    font-weight: 500;
    min-width: 300px;
    padding: 16px;
    border-radius: 25px 3px 3px 3px;
    background: #9a3b8c;
    background: -webkit-linear-gradient(to right, #51139f, #772996, #9a3b8c);
    background: linear-gradient(to right, #51139f, #772996, #9a3b8c); 
}
.btn-contact.rw{
    min-width: initial;
    width: 100%;
}
.btn-factura{
    color: #6737ab;
    border: 3px solid;
    border-color: #69219a;
    font-weight: 600;
    font-size: 17px;
    padding: 15px 22px;
    border-radius: 25px 5px 5px 5px;
    
    background: #fff;
}
.form-control-contact{
    padding: 25px;
    border-radius: 25px 5px 5px 5px;
    border-color: #e6e5e5;
}
.max-900{
    max-width: 930px;
}
.auto{
    margin: 0 auto;
}
.icon-footer-contacto:hover{
    background : #51139f !important;
    color: #fff !important;
}
.gray{
    color : #f1f2f3;
}
.line-purple-left{
    height: 3px;
    background: #9a3b8c;
    width: 110px;
    background: -webkit-linear-gradient(to right, #51139f, #772996, #9a3b8c);
    background: linear-gradient(to right, #51139f, #772996, #9a3b8c); 
}
.blanco{
    color: #fff;
}
.line-white{
    height: 3px;
    background: #fff;
    width: 140px;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cac6d2 !important;
    font-size: 1rem;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cac6d2 !important;
    font-size: 1rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #cac6d2 !important;
    font-size: 1rem;
}
.translate-y{
    transform: translateY(-20px)
}
.translate-logo{
    transform: translateY(10px)
}
.main-view{
    min-height: 750px;
    display:flex;
    align-items:center;
    color: #fff;
}
.font-small{
    font-size: 14px;
    font-weight: 100;
}
.aplicaciones-link{
    color: #111;
    display: inline-block;
    padding: 20px 15px 22px 68px;
    border-radius: 25px 3px 3px 3px;
    position: relative;
}
.aplicaciones-link + .aplicaciones-link {
    margin-left: 10px;
}
.aplicaciones-link.on{
    border: 1px solid #92378f;   
    font-weight: 500; 
}
.aplicaciones-link:hover{
    text-decoration: none;
    color: #92378f;
}

.img-sprite{
    position: absolute;
    top:0;
    left:0;
}
.sprite-ventas, .sprite-operaciones, .sprite-herramientas{
    background-image: url(./images/apps_families_s.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 60px;
    height: 50px;
    margin-top: 2px;
}
.bg-gray{
    background: #f2f0f0
}
.bg-facturacion{
    background: rgba(108, 35, 152,.9);
    background-image: url(./images/home_bg_call_to_action.png);
}
.bg-genkopos{
    background-image:url(./images/home_bg_acordion.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    
}
.sprite-ventas{
    background-position: -58px 0;
    margin-top: 8px;
    margin-left: 9px;
}
.sprite-operaciones{
    background-position:-114px 0;
}
.sprite-herramientas{
    background-position: -179px 0;
}
.acordeon-input{
    visibility: hidden;
    position: absolute;
    
}
.acordeon-input:checked + .acordeon > .acordeon-title{
    background: linear-gradient(to right, #51139f, #772996, #9a3b8c) !important;
}

.acordeon-input:checked + .acordeon > .acordeon-text{
    display: block;
}

.acordeon-title{
    padding: 15px 27px 15px 27px; 
    display:flex;
    background : #322052;
    justify-content: space-between;
    align-items: center;   
    border-radius: 25px 5px 5px 5px;
}
.acordeon{
    max-width: 410px;
   
}

.minus{
    height: 1px;
    background: #fff;
    width: 14px; 
}

.acordeon-text{
    padding: 15px 30px 15px 30px;
    display:none;
    transition: 1s;
}
.tipo-letra{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
   
}
.title-roboto{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -1px;
}
.color-azul{
    color: #322052;
}
.otra-letra{
    font-family: 'Poppins', sans-serif;
}
.title-roboto-rw{
    font-size: 32px;
    letter-spacing: 1.1px;
}
.max-500{
    width: 500px;
    margin: 0 auto;
}


.master_max{
    max-width: 1150px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.max-500{
    max-width: 500px;
    width: 100%;
}
.absolute-w{
    z-index: -1;
}
.bg-white{
    background : #fff;
}
.info-space{
    padding-left: 30px;
}
.dark-bg{
    background : rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 100%;
    display:none;
}
.dark-bg.on{
    display:block;

}
.close-menu{
    display:none;
}

.imagenes-footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align:center;
}
.imagenes-footer > div { 
   /* width: 16.6666667%;*/
}
.imagenes-footer img{

}

@media only screen and (max-width: 1300px) {
    .main-view{
        min-height: 650px;
        z-index: 10;
        position: relative;
    }
}
@media only screen and (max-width: 1200px) {
    .form-control-contact{
        padding: 22px 20px;
    }
    .form-control-contact::placeholder{
        font-size: 14px;
    }
    .nav-pills li,.nav-pills a{
        font-size: 13px;
    }

}
@media only screen and (max-width: 1080px) {
    .right-32{
    right: 32%;
    }
}
@media only screen and (max-width: 1003px) {
    .absolute-1050{
        width: initial;
    }

    .padding-space{
        padding-top: 50px ;
        padding-bottom: 50px ;
    }
    p{ font-size: .85rem; }
    .logo-responsive{
        width: 200px;
    }
    
    .width-250{
        width: 250px;
    }
    .main-menu__item{
        font-size: 12px !important;
    }
}
@media only screen and (max-width: 991px){
    .footer-banner{
        text-align: center;
    }
    .title-info-lg{
        padding-bottom: .5rem!important;
        padding-top: 1.5rem;
    }
    .max-width-lg{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .big-size{
        font-size: 40px;
    }
    .style-alinear{
        text-align: left;
        padding-left: 30px; 
        max-width: 340px;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 950px) {
    .img-950{
        width: 100%;
    }

}


@media only screen and (max-width: 900px) {
    .info-space{
        padding-left: 0;
    }
    
}
@media only screen and (max-width: 800px) {
    .main-menu{
        display: initial;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background: #fff;
        height: 100%;
        z-index: 9;
        box-shadow: 1px 2px 3px #b7b7b7;
        overflow: auto;
        transition: 1s;
        transform: translateX(100%);
    }
    .main-menu.on{
        transform: translateX(0);

    }
    .main-menu li{
        padding-left: 30px;

    }
    .main-menu__item{
        padding: 10px 5px 15px 5px;
    }
    .btn-demo{
        width: 200px;
        margin-top:20px;
        box-sizing: border-box;
        text-align: center;
    }
    .main-menu__item:hover:before, .main-menu__active:before{
        height: 0;
    }
    .hamburger{
        display:block;
    }
    .close-menu{
        display:block;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        background: #36114c;
        color: #FFF;
    }
    .close-menu-title{
        margin-left: 10px;
        font-size: 15px;
    }
    .translate-logo{
        transform: translateY(0); 
    }
    .master_full_top{
        height: 60px;
        position: fixed;
        top: 0;
        z-index: 3;
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    body{
        padding-top: 60px;
    }
    .iconos-info{
        text-align: center;
    }
    .img-800{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .master_max{ min-width: 350px;}
    
    .info-bt{padding-bottom: 30px;}
    .rights-foot{ text-align: center; }
    .enlaces-foot{ text-align: center !important;margin-bottom: 10px; }
    .main-view{ min-height: 550px; }
    .center-767{ text-align: center;}
}
@media only screen and (max-width: 530px) {

    .justify-530{justify-content: center !important} 
}
